:root{
    --accent-color: #07689F;
    --cta-color: #FF7E67;
    --soft-color: #A2D5F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*Navbar Styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: var(--accent-color);
    font-family: 'Nunito', 'sans-serif';
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: var(--cta-color);
}

.navbar .portfolio-text {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.navbar .menu li{
    display: inline-block;
    list-style: none;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Hamburger Btn Styling */
.menu-btn {

}

/*Home Section Styling*/

.home{
    display: flex;
    background: url("/src/img/front-end-developer\(1\).png") no-repeat center;
    height: 100vh;
    min-height: 500px;
    font-family: 'Nunito', 'sans-serif';
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
}

.home .home-content .text-3 span{
    color: var(--cta-color);
    font-weight: 500;
}